.Items{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    background-size: 100% 400px;

}

.Images{
  width: 220px;
  height: 150px;
   margin: 35px
}

.CartButton{
    float: right;
}


.RupeeSymbol{
    opacity: 0.8;
}