.SearchedContent{
    height: auto;
    margin-top: 5%;
    margin-bottom: 0.5%;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    /* background-size: 100% 400px;
    position: relative;
    padding: 15px; */
    

}
